# Intellij
.idea/
*.iml
*.iws
*.ipr
 
# Mac
.DS_Store
 
# Maven
log/
target/

# Gradle
.gradle
build/
logs/

# Package Files
*.jar
*.war
*.ear
performance*.csv

# LICENSE and NOTICE
src/main/resources/LICENSE
src/main/resources/NOTICE
